.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  h1{
    color:white;
  }
  .form-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .form-item {
    width: 45%;
    margin-bottom: 20px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
  }
  
  .form-name {
    margin: 0;
    cursor: pointer;
  }
  
  .form-details {
    display: none;
  }
  
  .form-item.active .form-details {
    display: block;
  }
  
  .form-item.active {
    background-color: #eee;
  }
  body{
    background-image:url(imgs/bg/bgb.webp);
  }
  
    